<!--добавить пост в блог-->
<div *ngIf="isMain">
  <form  *ngIf="isManager" [formGroup]="postForm" (ngSubmit)="addPost()">
  <input formControlName="file" (change)="onFileChange($event);" type="file">
    <input formControlName="text" type="text">
    <input type="submit">
  </form>
</div>
<!--ДОБАВИТЬ КОММИТы-->
<div *ngIf="isDeveloper">
  <input type="file" (change)="onFileCommitChange($event);">
  <input type="button" value="submit" (click)="submitCommit()">
  <input type="button" value="cancel" (click)="cancelCommit()">
</div>



  <div *ngIf="isMain">
    <div *ngFor="let iter of postObj">
      <app-project-post [postObj] ="iter" > </app-project-post>
     </div>
  </div>




<div *ngIf="isFiles">
<app-files-page [projectData] = "projectData"></app-files-page>
</div>



<div *ngIf="isDevs">
  <div *ngFor="let itr of curDevs">
    <app-user-pointer [user]="itr.login"></app-user-pointer>
    <br>
    description: {{itr.description}}
  </div>
</div>



<div *ngIf="isAbout">
  {{projectData.Project.description}}
</div>

