<p>
  // сделать ссыль на стр со всеми сабами (например)
  <br>
  ur position in projects: {{curPosition}} (temp)
</p>

<div style="color: blue">
  <h3 style="font-size: 50px;display: inline-block">{{projectName}}</h3>
  <h1 style="font-size:20px;padding-left: 50px;display: inline-block">Followers: {{subs.length}}</h1>
</div>
<div>
  <!--{{projectData.Project.projectid}}-->
  <nav>
    <a routerLink="/project/{{projectData.Project.projectid}}/main" >Main</a> |
    <a routerLink="/project/{{projectData.Project.projectid}}/files">Files</a> |
    <a routerLink="/project/{{projectData.Project.projectid}}/devs">Developers</a> |
    <a routerLink="/project/{{projectData.Project.projectid}}/about" >About project</a>
  </nav>
</div>
<div>
<!--<input (click)="addPost()"  type="button" value="AddPost">-->
  <!--*ngIf="isManager"  наверх-->
<!--посты-->
</div>
// не забыть переделать отправку под картинку
<app-project-contents [isManager] = "isManager" [projectData] = "projectData" [postObj] ="posts"> </app-project-contents>


<!--комменты-->
<!--<div ngFor="let i of post">-->
  <!--lol-->
<!--</div>-->
