<div *ngFor="let itr of messages">
  <div style="padding-left: 40% " *ngIf="!checkCondOfMess(itr)">
  <app-user-pointer  [user] = "userSobisednik" ></app-user-pointer>
    <br>
    {{itr.text}}
  </div>

  <div style="margin-left: 60% " *ngIf="checkCondOfMess(itr)">
  <app-user-pointer  [user] = "getCurUser()" ></app-user-pointer>
    <br>
    {{itr.text}}
  </div>
  <br>

</div>

<form [formGroup]="messForm" (ngSubmit)="sendNewMsg()">
<textarea pInputTextarea formControlName="msg" (submit)="setNewMsg($event.target.value)" placeholder="new message"></textarea>
<input type="submit" value="send" >
</form>
<!--[(ngModel)]="newMsg"-->
