#mainBlock{
  height: 400px;
  width: 1110px;
  /*margin-bottom: 40px;*/
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(191, 212, 91 ,0.8);
}
#registerDiv{
  border-radius: 30px;
  background-image: url("/src/assets/login.jpg");
  width: 50%;
  height: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 20px;
  color: black;
}
#registerDiv h2 {
  color: rgba(25, 25, 25, 0.95);
  margin-left: 5%;
  margin-top: 5%
}
.inRegistr{
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px black;
}
.form-group{
  width: 80%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.hrC{
  border:1px solid rgba(25, 25,25,0.8);
  margin-left: 5px;
  margin-right: 5px;
}
.hitIt {
  width: 80%;
  height: 80px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/
.btn1 {
  background: rgba(140, 162, 43, 0.8);
  border-color: rgb(177, 96, 29);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.regLink {
  color: rgba(25, 25, 25, 0.95);
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}
input {
  background: -webkit-linear-gradient(left, rgb(177, 96, 29), transparent, rgb(242, 192, 77));
  background: -o-linear-gradient(right, rgb(177, 96, 29), transparent, rgb(242, 192, 77));
  background: -moz-linear-gradient(right, rgb(177, 96, 29), transparent, rgb(242, 192, 77));
  background: linear-gradient(to right, rgb(177, 96, 29), transparent, rgb(242, 192, 77));
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
::-webkit-input-placeholder {
  color: rgba(25, 25, 25, 0.95);;
  opacity: 1;
}
