<div id ="bar">
  <!--<img width="30" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
  <!--MultHub-->
  <img src="../../../assets/ji4sa7neqity.png">
  <nav>
    <h2 routerLink="/"> Popular </h2>
    <h2 *ngIf="user" routerLink="news"> Newsfeed </h2>
    <h2 routerLink="about"> About </h2>
  </nav>

  <input type="text" (keyup) ="getSearch($event)" placeholder="search"/>

  <i *ngIf="user" (click)="panel.toggle($event)" class="fa fa-user-circle-o" aria-hidden="true"> </i>
    <!--<a *ngIf="user" (click)="panel.toggle($event)"> profile </a>-->

  <nav *ngIf="!user">
  <a routerLink="login">login</a>
  </nav>

  <p-overlayPanel #panel >
    <nav>
      <h3 (click)="naviigateToProfile()" > профиль </h3> <br>
      <h3 routerLink="dialogs/">  диалоги  </h3><br>
      <h3 routerLink="newProject">  новый проект(убрать)  </h3><br>
      <h3 routerLink="login"> сменить акк(убрать) </h3> <br>
      <h3 routerLink="" (click)="quit()" > выйти </h3> <br>
      <h3 routerLink="settings"> настройки</h3>
    </nav>
  </p-overlayPanel>
<!--</div>-->
<!--<div>-->
  <!--не забыть про обновление текщих позиций и их обновление<br>-->
  <!--добавить настройки рассылки<br>-->
  <!--поменять name проектах на unique<br>-->
  <!--выводить ли все посты сразу или как то иначе ы<br>-->
  <!--сортировка по времени новостей и по сабам популярь<br>-->
  <!--возврат по стрелочкам из проекта(не между вкладками )<br>-->
  <!--компонент аввтар + Имя в котором есть компонент с контекстным меню(добавить в проект(если ты гдето манагер),отправить смс и тд)<br>-->
  <!--при создании проекта обновлять позиции<br>-->
  <!--если открыто чето связанное с веб сокетами то оно должно моментально обновитсья<br>-->
  <!--если в диалоге нет смс то будет ошибка 89 где добавляется ласт смс-->
<!--открытие диалога на ласт смс<br>-->
  <!--добавить возможности манагеру в проектах и вне<br>-->

  <!--<hr>-->
<!--</div>-->
<p-toast [style]="{marginTop: '80px'}" styleClass="custom-toast" key="custom" position="bottom-right"></p-toast>
